h1 {
    margin: 0 70px;
    width: 240px;
    font-size: 48px;
    line-height: 64px;
}
ul{
    margin: 0 70px;
}
li {
    padding: 0 15px;
}
nav{
        background-color: mediumvioletred
}
.logo {
    
}